extends layout

block content
  p 
  
     img(id='myImage' style = "position: absolute; top: 0%; right: 0; margin-right: 10px; margin-top: 10px;  vertical-align:bottom; " height='25px' width='25px' src='/images/uk.png') 
  h1= title
  
  script.
    var f1 = function() { document.getElementById('nv').src='#{data.item1}' }
  script.
    var f2 = function() { document.getElementById('nv').src='#{data.item2}' }
  script.
    var f3 = function() { document.getElementById('nv').src='#{data.item3}' }
