doctype html
html
  <head width='30px'>
    link(rel='stylesheet', href='/stylesheets/main.css')
    c:   img(id="myImage" style = "position: absolute; top: 0%; right: 0; margin-right: 10px; margin-top: 10px;  vertical-align:bottom; " height='25px' width='25px' src='/images/uk.png' onclick='bd()' onMouseOver='flag_im()' onMouseOut='flag_out()') 

  <body class="container1" onload= h_ss()>
    block content
    <div class="container" style="display: inline-block;"></div>
       <div   id="text1"style="display: inline-block;" >
       bio: <p>Тверезовський Микола
       </div> 
    <iframe id="nv" style = "text-align: center;"  src = "/viewer#../pdf/pdf-test.pdf" width='100%' height=h_s allowfullscreen webkitallowfullscreen></iframe>
        <div id="lan">'#{h_s}'</div>
        <div id="but" align="center">
            d: button(title="1" class="modal__close" aria-label="Close modal" data-micromodal-close) One!
            d: button(title="2" onclick='f2()') Two!
            d: button(title="3" onclick='f3()') Three!
        </div>