doctype html
html
  head

    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content

  <iframe id="nv" style = "text-align: center;"  src = "/viewer#../pdf/pdf-test.pdf" width='100%' height='500' allowfullscreen webkitallowfullscreen></iframe>
  p
     img(id='myImage' height='200' width='200' src='/images/test.png') 


  button(onclick='f1()') One!
  button(onclick='f2()') Two!
  button(onclick='f3()') Three!
  