doctype html
html
  head
    title= title
    p
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
  
    block content
    <p><ac id='gh' href="#" class="rollover" onclick='flag()' > </ac></p>
    <p>
    button(id="ff" title="kkkkkkkkkkk" onMouseOver='border()')
    <p>
     img(id='myImage1' height='200' width='200' src='/images/my.jpg') 
p
  <iframe id="nv" style = "text-align: center;"  src = "/viewer#../pdf/pdf-test.pdf" width='100%' height=auto allowfullscreen webkitallowfullscreen></iframe>
  p bnbjhjhj
  button(onclick='f1()') One!
  button(onclick='f2()') Two!
  button(onclick='f3()') Three!
