doctype html
html
  <head width='30px'>
    c:   img(id="myImage" style = "position: absolute; top: 0%; right: 0; margin-right: 10px; margin-top: 10px;  vertical-align:bottom; " height='25px' width='25px' src='/images/uk.png' onclick='bd()' onMouseOver='flag_im()' onMouseOut='flag_out()') 

   
    <body class="container1" onload= h_ss()>
    block content
    
