h1 {
    color: red;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: red;
    text-decoration-style: dashed
}

c img {
    border: 1px solid #53da3f; /* Рамка вокруг изображения-ссылки */
}

c:hover img {
    border: 2px solid #f26522; /* Рамка при наведении на ссылку курсора мыши */

}
ac.rollover {
    background: url('/images/en.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 25px; /* Ширина рисунка */
    height: 13px; /*  Высота рисунка */

    
    /*onclick='en()')*/
}
    /* ac.rollover.background: url('/images/uk.png'),
     ac.rollover:hover.background: url('/images/uk.png'); */
    ac.rollover:hover {
        background: url('/images/uk.png'); /* Путь к файлу с заменяемым рисунком  */
        width: 25px; /* Ширина рисунка */
        height: 17px; /*  Высота рисунка */
        
}
#ff {
    background-image: url('/images/uk.png');
    width: 17px;
    height: 17px;
    border: 1px solid #53da3f;
     
}       
        /*onclick='ua()'*/
    
