h1 {
    color: red;
    text-align: center;
}

body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

d button {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #6CAF4C;
    text-decoration-style: dashed;
    padding: 0px;
    margin: 10px;
}

 d:hover button {
        border: 2px solid #b6ff00;
    }

c img {
    border: 0px solid #53da3f; /* Рамка вокруг изображения-ссылки */
}

c:hover img {
    border: 2px solid #f26522; /* Рамка при наведении на ссылку курсора мыши */

}
ac.rollover {
    background: url('/images/ic_02.png'); /* Путь к файлу с исходным рисунком  */
    display: block; /*  Рисунок как блочный элемент */
    width: 48px; /* Ширина рисунка */
    height: 48px; /*  Высота рисунка */

    
    /*onclick='en()')*/
}
    /* ac.rollover.background: url('/images/uk.png'),
     ac.rollover:hover.background: url('/images/uk.png'); */
    ac.rollover:hover {
        background: url('/images/ic_back_00.png'); /* Путь к файлу с заменяемым рисунком  */
        width: 144px; /* Ширина рисунка */
        height: 96px; /*  Высота рисунка */
        
}
#ff {
    background-image: url('/images/uk.png');
    width: 17px;
    height: 17px;
    border: 1px solid #53da3f;
     
}       
        /*onclick='ua()'*/
.container {
    width: 150px;
    height: 200px;
    background-image: url('/images/my.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
.container1 {
    background-image: url('/images/cortex-2.jpg');
    background-repeat: repeat;
}
bio {width: 80%;
     color: white;
     border: solid 0px #ccc;
     
     text-decoration-style: dashed;
     font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}